body {
    background: linear-gradient(0.30turn, #d11507, #f69d3c);
    height: 100vh;
}

form {
    width: 300px;
}

input, button {
    padding: 10px;
    width: 100%;
}

button{
    margin-bottom: 10px;
}

