body {
    margin: 0;
    background: linear-gradient(0.30turn, #d11507, #FEC325);
    font-family: "Poppins", sans-serif;
}

header {
    text-align: right;
}

header button {
    width: auto;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    margin-bottom: 10px;
}

input,
button,
select {
    padding: 10px;
    width: 100%;
}

.input-clear{
    background-color: #5271ff29;
    border: none; 
    border-radius: 5px; 
    outline: none;
    padding: 15px;
    margin-top: 10px;
} 

input[type="radio"] {
    width: auto;
}

.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.loading label {
    font-size: 24px;
}

button {
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

button[disabled] {
    opacity: 0.8;
}

button.fab {
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px gray;
}

button.fab.fixed {
    position: fixed;
}

button.fab.bottom {
    bottom: 32px;
}

button.fab.right {
    right: 32px;
}

.login-btn{
    background-color: #5C8109; 
    border: none; 
    border-radius: 5px; 
    color: #fff;
    cursor: pointer; 
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px; 
    padding: 10px;
}

.clear {
    background: transparent;
    border: none;
    color: white;
}

.outline {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.outline.danger {
    color: red;
    border-color: red;
}

.error {
    color:white;
    border: 1px solid white;
    background: red;
    text-align: center;
    display: none;
}

